<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <title>Apollonia Dental</title>
</head>
<body>
  <header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        
    <nav class="navbar navbar-expand-sm bg-light-subtle mt-2 mt-md-0 ms-md-auto">
        <div class="container-fluid">
            <!-- Links -->
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/employee">Medical Staff</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/department">Departments</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/departmentsdetailed">Departments with Staff</a>
              </li>
            </ul>
          </div>

    </nav>
  </header>
    <div class="container pt-4">
       <div class="row">
        <div class="col">
          <h2>Departments</h2>
        </div>
        <div class="col text-right">
          <div class="modal fade" id="exampleModaladd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Department Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form name="myForm" action='/department' method="POST">
                  <div class="form-group text-left">  
                    <label for="nameInput">Name :</label>
                    <input type="text" class="form-control" name="name" id="name" value="">
                    </div>
                  <button type="submit" class="btn btn-primary">Complete</button>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
              </div>
            </div>
          </div>
          </div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModaladd">
            Add New Department
          </button>
        </div>
      </div>
        <table class="table table-bordered">
            <tr>
                <th>Name</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            <% list.forEach((e)=> { %>
                <tr>
                    <td>
                        <%= e.name %>
                    </td>
                    <td>
                      <div class="modal fade" id="exampleModal<%= e._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Edit Department Information</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <form name="myForm" action='/department/<%= e._id %>' method="POST">
                                <div class="form-group">
                                  <label for="nameInput">Name</label>
                                  <input type="text" class="form-control" name="name" id="name" value="<%= e.name %>">
                                  </div>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal<%= e._id %>">
                      Edit
                      </button>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2<%= e._id %>">
                      Remove
                      </button>
                      <div class="modal fade" id="exampleModal2<%= e._id %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Remove Department</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              Are you sure ?
                            </div>
                            <div class="modal-footer">
                              <form action="/department/<%= e._id %>" method="get">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Remove this</button>
                            </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                    
                </tr>
            <% }) %>
        </table>
    </div>
    
</body>
</html>